font {
    font-optical-sizing: auto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 375px;
    margin: 0 auto;
}

.title {
    font-family: var(--big-shoulders-display-font);
    font-weight: var(--font-weight-black);
    text-transform: uppercase;
    color: var(--almost-black-color);
}

.text {
    font-family: var(--outfit-font);
    font-weight: var(--font-weight-light);
    font-size: var(--mobile-font-size-body_m);
    color: var(--dark-gray-color);
}

.section_top {
    margin-bottom: 120px;
}

.section_top__background-img,
.section_top__title,
.section_top__text {
    margin-bottom: 32px;
}

.section_top__background-img {
    background-image: url(../assets/mobile/image-hero@2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 240px;
}

.section_top__description {
    width: 343px;
    height: auto;
    margin: 0 auto;
}

.section_top__title {
    font-size: var(--mobile-font-size-heading_xl);
    line-height: var(--mobile-line-height-heading_xl);
}

.section_top__text {
    line-height: var(--mobile-line-height-body_m);
}

.section_top__location {
    width: 260px;
    height: 72px;
    display: flex;
    flex-direction: row;
}

.section_top__link {
    font-family: var(--big-shoulders-display-font);
    font-size: var(--link-font-size);
    font-weight: var(--font-weight-extrabold);
    line-height: var(--link-line-height);
    letter-spacing: var(--link-letter-spacing);
    width: 204px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--almost-black-color);
}

.section_top__arrow {
    background-color: var(--gold-color);
    width: 56px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_secondary,
.section_third {
    width: 343px;
    height: auto;
    margin: 0 auto;
}

.section_secondary {
    margin-bottom: 32px;
}

.section_secondary__background-img {
    background-image: url(../assets/mobile/image-grid-1@2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 320px;
    margin-bottom: 25px;
}

.section_secondary__title,
.section_third__title {
    font-size: var(--mobile-font-size-heading_l);
    line-height: var(--mobile-line-height-heading_l);
}

.section_secondary__title {
    margin-bottom: 21px;
}

.section_secondary__text {
    line-height: var(--mobile-line-height-body_m);
}

.section_third {
    margin-bottom: 120px;
}

.section_third__description {
    background-color: var(--almost-black-color);
    width: 100%;
    height: 293px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section_third__description-container {
    width: 295px;
    height: auto;
    margin: 0 auto;
}

.section_third__background-img-one {
    background-image: url(../assets/mobile/image-grid-2@2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 480px;
    margin-bottom: 16px;
}

.section_third__background-img-two {
    background-image: url(../assets/mobile/image-grid-3@2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    margin-bottom: 16px;
}

.section_third__title {
    margin-bottom: 24px;
    color: var(--white-color);
}

.section_third__text {
    color: var(--white-color);
    line-height: var(--mobile-line-height-body_m);
}

.footer {
    width: 100%;
    height: 336px;
    background-color: var(--almost-black-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__container {
    width: 311px;
    height: auto;
    margin: 0 auto;
}

.footer__container img,
.footer__text {
    margin-bottom: 38px;
}

.footer__text {
    font-family: var(--outfit-font);
    font-size: var(--mobile-font-size-body_s);
    line-height: var(--mobile-line-height-body_s);
    color: var(--white-color);
}

.footer__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: auto;
}