font {
    font-optical-sizing: auto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh;
    width: 375px;
}

/* Main content */
/* Section Top */
.section_top {
    background-image: url(../assets/mobile/image-map@2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    width: 100%;
}

.section_top__container {
    display: flex;
    flex-direction: row;
    height: 72px;
    width: 264px;
}

.section_top__arrow {
    background-color: var(--gold-color);
    display: flex;
    align-items: center;
    height: 72px;
    justify-content: center;
    width: 56px;
}

.section_top__link {
    align-items: center;
    background-color: var(--almost-black-color);
    color: var(--white-color);
    display: flex;
    font-size: var(--link-font-size);
    font-weight: var(--font-weight-extrabold);
    height: 100%;
    justify-content: center;
    letter-spacing: var(--link-letter-spacing);
    line-height: var(--link-line-height);
    width: 204px;
}

/* Section Secondary */
.section_secondary {
    background-color: var(--almost-black-color);
    display: flex;
    flex-direction: column;
    height: 493px;
    justify-content: center;
    width: 100%;
}

.section_secondary__container {
    margin: 0 auto;
    width: 343px;
}

.title {
    color: var(--white-color);
    font-size: var(--mobile-font-size-heading_l);
    font-weight: var(--font-weight-black);
    line-height: var(--mobile-line-height-heading_l);
    margin: 0 auto 48px;
    width: 343px;
}

.section_secondary__text-container {
    margin: 0 auto;
    width: 343px;
}

.main {
    color: var(--gold-color);
    font-size: var(--mobile-font-size-heading_m);
    font-weight: var(--font-weight-black);
    line-height: var(--mobile-line-height-heading_m);
    margin-bottom: 20px;
}

.text {
    color: var(--white-color);
    font-family: var(--outfit-font);
    font-size: var(--mobile-font-size-body_m);
    font-weight: var(--font-weight-light);
    line-height: var(--mobile-line-height-body_m);
}

.section_secondary__location-text {
    margin-bottom: 20px;
}

/* Common styles */
.section_top__link,
.title,
.main {
    font-family: var(--big-shoulders-display-font);
    text-transform: uppercase;
}

/* Footer */
.footer {
    background-color: var(--gold-color);
    display: flex;
    flex-direction: column;
    height: 336px;
    justify-content: center;
    width: 100%;
}

.footer__container {
    height: auto;
    margin: 0 auto;
    width: 311px;
}

.footer__container img,
.footer__text {
    margin-bottom: 38px;
}

.footer__text {
    color: var(--almost-black-color);
    font-family: var(--outfit-font);
    font-size: var(--mobile-font-size-body_s);
    font-weight: var(--font-weight-light);
    line-height: var(--mobile-line-height-body_s);
}

.footer__link {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    width: 100px;
}

svg path {
    fill: var(--almost-black-color);
}

/* Media Queries */
@media screen and (min-width: 768px) {
    body {
        width: 768px;
    }

    .section_top {
        background-image: url(../assets/tablet/image-map@2x.png);
        height: 600px;
    }

    .section_top__container {
        margin-left: 39px;
    }

    .section_secondary {
        height: 436px;
    }

    .section_secondary__container,
    .footer__container {
        display: flex;
        flex-direction: row;
        height: auto;
        margin: 0 auto;
        width: 689px;
    }

    .section_secondary__container {
        justify-content: flex-start;
    }

    .title {
        margin: 0 68px 0 0;
        width: 223px;
    }

    .section_secondary__text-container,
    .footer__container img,
    .footer__text {
        margin: 0;
    }

    .section_secondary__text-container {
        width: 398px;
    }

    .footer {
        height: 216px;
    }

    .footer__container {
        align-items: center;
        justify-content: space-between;
    }

    .footer__text {
        width: 281px;
    }

    .footer__container img,
    .footer__link {
        align-self: flex-start;
    }
}

@media screen and (min-width: 1440px) {
    body {
        width: 1440px;
    }

    .section_top {
        background-image: url(../assets/desktop/image-map@2x.png);
    }

    .section_top__container {
        margin-left: 156px;
    }

    .section_secondary {
        height: 548px;
    }

    .section_secondary__container,
    .footer__container {
        height: auto;
        width: 1110px;
    }

    .section_secondary__container {
        justify-content: space-between;
    }

    .section_secondary__text-container {
        width: 540px;
    }

    .title {
        font-size: var(--desktop-font-size-heading_l);
        line-height: var(--desktop-line-height-heading_l);
        margin: 0;
        width: 350px;
    }

    .main {
        font-size: var(--desktop-font-size-heading_s);
        line-height: var(--desktop-line-height-heading_s);
        margin-bottom: 24px;
    }

    .text {
        font-size: var(--desktop-font-size-body_m);
        line-height: var(--desktop-line-height-body_m);
    }

    .section_secondary__location-text {
        margin-bottom: 32px;
    }

    .footer {
        height: 244px;
    }

    .footer__container img {
        width: 160px;
    }

    .footer__text {
        font-size: var(--desktop-font-size-body_s);
        line-height: var(--desktop-line-height-body_s);
        width: 430px;
    }
}